# Ignore all dotfiles except this .gitignore.
.*
!.gitignore
!scripts/.deploy_worker.sh

# Ignore intermediate build directory produced by sbt.
target/

# Ignore VSCode Metals plugin specific files.
metals.sbt

# Ignore logs and binary file directory.
*.log
logs/
bin/

# Ignore temporal directory.
temp/