# Ignore all dotfiles except this .gitignore.
.*
!.gitignore

# Ignore intermediate build directory produced by Sbt.
target/

# Ignore VSCode Metals plugin specific files.
metals.sbt

# Ignore log and binary file directory.
log/
bin/