<configuration>
    <appender name="MASTER" class="ch.qos.logback.core.FileAppender">
        <file>logs/master.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="WORKER" class="ch.qos.logback.core.FileAppender">
        <file>logs/worker.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROOT" class="ch.qos.logback.core.FileAppender">
        <file>logs/root.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="ROOT" />
    </root>

    <logger name="master" level="INFO">
        <appender-ref ref="MASTER" />
    </logger>

    <logger name="worker" level="INFO">
        <appender-ref ref="WORKER" />
    </logger>
</configuration>
